# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.venv/
venv/
ENV/

# Environment Variables
/.env
!.env.example
!frontend/.env
!frontend/.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# Node / Frontend
node_modules/
dist/
.env.local
